* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top:auto;
    margin-bottom:auto;

  }

  body {
    height: 100vh;
    display: grid;
    place-items: center;
  }
  html{
    background: radial-gradient(#64e6db, #9198e5);
  }

  .darkmodebtn {
    position: absolute;
    left: 10;
    top: 25;
    
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }

  .digits {
    font-size: 70px;
  }
/* Play/pause button */

/* clock

#clockContainer {
	position: relative;
	margin: auto;
	height: 20vw;

	width: 20vw;
	background: url(clock.jpg) no-repeat;
  mix-blend-mode: multiply;
	background-size: 100%;
}

#hour,
#minute,
#second {
	position: absolute;
	background: black;
	border-radius: 10px;
	transform-origin: bottom;
}

#hour {
	width: 1.8%;
	height: 25%;
	top: 25%;
	left: 48.85%;
	opacity: 0.8;
}

#minute {
	width: 1.6%;
	height: 30%;
	top: 19%;
	left: 48.9%;
	opacity: 0.8;
}

#second {
	width: 1%;
	height: 40%;
	top: 9%;
	left: 49.25%;
	opacity: 0.8;
} */
